/* Footer.css */

/* .footer-banner {
    position: initial;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(8, 40, 82);
    color: white;
    text-align: center;
    padding: 20px 0;
  }
   */